{{#if icon}}
  <i class="material-icons prefix">{{icon}}</i>
{{/if}}
<select onchange={{action (action 'on-change') value="target.value"}}>
  <option value="">{{prompt}}</option>
  {{#each content as |item|}}
    <option value="{{get item optionValuePath}}">{{get item optionLabelPath}}</option>
  {{/each}}
</select>
<label>{{label}}</label>
