{{#em-card title="Forms"}}

  <div class="section">
    <h5 class="title">Inputs</h5>

    <div class="section">
      <p>A basic text input with a label</p>
      {{em-input label="Full Name"}}
    </div>

    <div class="section">
      <p>A text input with an icon</p>
      {{em-input label="Email" icon="email"}}
    </div>

    <div class="section">
      <p>A text input with a placeholder</p>
      {{em-input placeholder="Your name here"}}
    </div>

    <div class="section">
      <p>A disabled text input</p>
      {{em-input label="Name" disabled=true}}
    </div>

    <div class="section">
      <p>A password input</p>
      {{em-input label="Password" type="password"}}
    </div>

    <h5>Selects</h5>

    <div class="section">
      <p>A basic select input</p>
      {{em-select label="Your Options"
        content=selectOptions
        optionLabelPath="value" optionValuePath="value"
        value=selectedOption}}
      <p>You selected: {{selectedOption}}</p>
    </div>

    <div class="section">
      <p>A basic select input</p>
      {{em-select label="Your Options"
        content=selectOptions
        optionLabelPath="value" optionValuePath="value"
        value=preSelectedOption}}
      <p>Pre-Selected: {{preSelectedOption}}</p>
    </div>

  </div>

{{/em-card}}
